<!DOCTYPE html>
<html>
  <head>
    <title>EJS Mongoose Collection Example</title>
    <link href="/styles/messages.css" rel="stylesheet" type="text/css">
    <link href="/styles/nav.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <nav>
        <ul>
            <% if (user) { %>
                <li><a href="/logout" >Logout</a></li>
              <% } else { %>
                <li><a href="/login">Login</a></li>
              <% } %>              
          <li><a href="/sign-up">Sign-Up</a></li>
          <li><a href="/messages">Messages</a></li>
        </ul>
      </nav>
    <% if (!user) { %>
        <div class="message-page-container">
            <h1 class="message-header">Messages</h1>
            <% messages.forEach(function(message) { %>
                <div class="message-container">
                    <p class="message-content"><%= message.message %></p>
                </div>
        
              <% }); %>
        </div>
      <% } else if (user.membership === 'basic') { %>
        <div class="message-page-container">
            <h1 class="message-header">Messages</h1>
            <form id="update-form">
                <input type="hidden" name="member" value="club">
              </form>
              <div class="update-button-container">
                <button type="button" onclick="submitForm()">Join The Club</button>
              </div>
              
              <script>
                async function submitForm() {
                  const formData = new FormData(document.getElementById("update-form"));
                  const response = await fetch('/users/<%= user._id %>', {
                    method: 'PATCH',
                    body: formData
                  });
                  if (response.ok) {
    window.location.reload();
  }
                  console.log(await response.json());
                }
              </script>
              
              
              
              
            <% messages.forEach(function(message) { %>
                <div class="message-container">
                    <p class="message-content"><%= message.message %></p>
                </div>
        
              <% }); %>
        </div>
      <% } else if(user.membership === 'club' || 'admin') { %>
        <div class="message-page-container">
            <h1 class="message-header">Messages</h1>
            <% if (user.membership === 'club') { %>
                <form id="upgrade-form">
                  <input type="hidden" name="membership" value="admin">
                </form>
                <div class="update-button-container">
                    <button type="button" onclick="submitUpgradeForm()">Upgrade to Admin</button>
                </div>
              
                <script>
                  async function submitUpgradeForm() {
                    const formData = new FormData(document.getElementById("upgrade-form"));
                    const response = await fetch('/users/<%= user._id %>', {
                      method: 'PATCH',
                      body: formData
                    });
                    if (response.ok) {
    window.location.reload();
  }
                    console.log(await response.json());
                  }
                </script>
              <% } %>
              <div class="new-message-container">
                <form action="/messages" method="post" class="mesage-form">
                    <div class="input-message-container">
                      <label for="title">Title:</label>
                      <input type="text" id="title" name="title">
                      <label for="message">Message:</label>
                      <input type="text" id="message" name="message" class="message">
                    </div>
                    <div class="submit-message-container">
                        <button type="submit">Submit</button>
                    </div>
                  </form>
              </div>

              
              <% messages.forEach(function(message) { %>
                <div class="message-container">
                  <h1 class="message-title"><%= message.title %></h1>
                  <h3 class="message-author">User: <%= message.userid %></h3>
                  <p class="message-content"><%= message.message %></p>
                  <h6 class="message-date"><%= message.time %></h6>
                  <% if (user.membership === 'admin') { %>
                    <button onclick="deleteMessage('<%= message._id %>')" class="delete-button">Delete</button>

                  <% } %>
                </div>
              <% }); %>
              
              <script>
                async function deleteMessage(id) {
                  const response = await fetch(`/messages/${id}`, {
                    method: 'DELETE'
                  });
                  if (response.ok) {
    window.location.reload();
  }
                  console.log(await response.json());
                }
              </script>
              
        </div>
      <% } %>
      %> 
        

  </body>
</html>
